img {
    image-rendering: pixelated;
}

@font-face {
    font-family: 'Bit';
    src: url('fonts/8bitoperator-JVE.woff');
}



body {
	
    text-rendering: pixelated;
    background-size: cover;
    color: white;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-size: 32px;
	
	text-shadow: 3px 3px #ee04b9;
	
}

.Text_Up{

	font-family: 'Bit';
	font-size: 16px;
	color: #060b4e;
    position: absolute;
    top: 340px;
    left: 0px;
    right: 0px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
	
}


.heading_bar_1
{
	font-family: 'Bit';
	font-size: 32px;
	color: white;
    position: absolute;
    top: 900px;
    left: 0px;
    right: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    z-index: 7;
	
}
.AboutText{

	font-family: 'Bit';
	font-size: 32px;
	color: white;
    position: absolute;
    top: 900px;
    left: 0px;
    right: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
	
	
}

.Text{

	font-family: 'Bit';
	font-size: 48px;
	color: white;
    position: absolute;
    top: 450px;
    left: 0px;
    right: 0px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
	
	animation: bottommove ease 4s;
	animation-iteration-count: infinite
	
}

.video1{
	
	display: block;
    position: absolute;
	top: 300px;
	left: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.video2{
	
	display: block;
    position: absolute;
	top: 300px;
	left: 700px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.video3{
	
	display: block;
    position: absolute;
	top: 300px;
	left: 1300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.dev_text{
	
	font-family: 'Bit';
	font-size: 48px;
	color: white;
	display: block;
    position: absolute;
	top: 100px;
	right: 600px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.icon_1_index{
	
	font-family: 'Bit';
	font-size: 32px;
	color: white;
	display: block;
    position: absolute;
	top: 800px;
	left: 820px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
	padding: 5px 2px;
}

.icon_2_index{
	
	font-family: 'Bit';
	font-size: 32px;
	color: white;
	display: block;
    position: absolute;
	top: 800px;
	left: 890px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
	padding: 5px 2px;
}
.icon_3_index{
	
	font-family: 'Bit';
	font-size: 32px;
	color: white;
	display: block;
    position: absolute;
	top: 800px;
	left: 960px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
	padding: 5px 2px;
}
.icon_4_index{
	
	font-family: 'Bit';
	font-size: 32px;
	color: white;
	display: block;
    position: absolute;
	top: 800px;
	left: 1030px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
	padding: 5px 2px;
}



.icon_1_text{
	
	font-family: 'Bit';
	font-size: 32px;
	color: white;
	display: block;
    position: absolute;
	top: 700px;
	right: 660px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.icon_1{
	
	font-family: 'Bit';
	font-size: 32px;
	color: white;
	display: block;
    position: absolute;
	top: 725px;
	right: 800px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}


.Mountain_BG {
    display: block;
    position: absolute;
    top: 520px;
    left: 0px; 
    right: 50px;
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

@keyframes topmove {
  0% {
	  top: 120px;
  }
	
  100% {
	  top: 160px;
  }
}

@keyframes bottommove {
  0% {
	  top: 470px;
  }
	
  50% {
	  top: 480px;
  }
  
  100% {
	  top: 470px;
  }
}


@keyframes fadeOUT {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.Title {
	
    display: block;
    position: absolute;
    left: 0px; 
	top: 160px;
    right: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
	animation: topmove ease 1s;
	
}



.fade-out {
	z-index: 5;
    animation: fadeOUT ease 1s;
    opacity:0;
}



.navbar {
    overflow: hidden;
    max-height: 50px;
    min-height: 50px;
    position: fixed;
    background-color: black;
    border-bottom-width: 3px;
    border-bottom-color: white;
    border-bottom-style: solid;
    justify-content: space-around;
    align-content: center;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    z-index: 1;
}



.navbar div{
	
	font-family: 'Bit';
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding: 500px 24px;
    text-decoration: none;
    font-size: 48px;
    letter-spacing: 50px;
    text-shadow: 0px 2px black;
}




a:link {
  color: #ffff00;
  text-decoration: none;
}
a:visited {
  color: #ffff00;
  text-decoration: none;
}
a:hover {
  color: #ff9d00;
  text-decoration: none;
}
a:active {
  color: #ffff00;
  text-decoration: none;
}
